{% extends "principal_base.html" %}
{% block title %}
 | Info
{% endblock title %}
{% load static %}
{% block content %}
 <!-- START Testimonials w/ user image & text & info -->

  <!-- END Testimonials w/ user image & text & info -->
  <!-- START Blogs w/ 4 cards w/ image & text & link -->
  
  <!-- END Blogs w/ 4 cards w/ image & text & link -->
  <section class="py-lg-7">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card overflow-hidden mb-5">
            <div class="row">
              <div class="col-lg-7">
                
                  <div class="card-header px-4 py-sm-5 py-3">
                    <h2>Informacion!!</h2>
                    <p class="lead"> Proyecto creado y desarollado para la clase de Sistemas Biertos II.</p>
                    <p class="lead"> Desarrollado por Alejandro Antonio Aguilera Banegas.</p>
                  </div>
                  
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block js %}

{% endblock js %}